body{
    background-color: rgb(220, 199, 244);
   
}
.conatiner{
    height: 80vh;
    display: flex;
}
.sidebar{
    height: 85vh;
    width:190px;
    border: solid 2px goldenrod;
    background-color: rgb(190, 176, 239);
    border-radius: 30px;
}
img{
    height: 45px;
    width: 45px;
    margin: 10px;
}
.menu-item{
    margin: 5px ;
    border-radius: 20px;
    display:flex;
    align-items: center;
    cursor: pointer;
    color: rgb(201, 78, 30);
}
.menu-item:hover{
    background-color: rgb(253, 230, 245);
}