body{
    background-color: rgb(94, 203, 213);
}
.conatiner{
    height: 100vh;
    display: flex;
}
.sidebar{
    height: 150vh;
    width:190px;
    border: solid 2px goldenrod;
    background-color: rgb(165, 243, 249);
    border-radius: 30px;
}
img{
    height: 45px;
    width: 45px;
    margin: 10px;
}
.menu-item{
    background-color: rgb(226, 153, 211);
    margin: 7px ;
    border-radius: 20px;
    display:flex;
    align-items: center;
    cursor: pointer;
    color: rgb(201, 78, 30);
}